{% for field, errors in fields %}
    <div class="flex flex-col mb-6 {{ field.css_classes }}">
        {% if field.label %}
            <div class="pb-2">
                {{ field.label_tag|cut:":" }}
                {% if field.field.required %} * {% endif %}
            </div>
        {% endif %}
        {{ field }}
        {% if field.help_text %}
          <span class="helptext">{{ field.help_text }}</span>
        {% endif %}
        {% if field.errors %}
            <p class="text-sm mt-2 font-medium leading-none text-red-600">
                {{ field.errors.as_text|cut:"* " }}
            </p>
        {% endif %}
    </div>
    {% if forloop.last %}
      {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}
{% endfor %}
{% if not fields and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}

{% if form.non_field_errors %}
    <p class="text-sm mt-6 font-medium leading-none text-red-600">
        {{ form.non_field_errors.as_text|cut:"* " }}
    </p>
{% endif %}