{% extends "base.html" %}

{% block title %}
    Maestro | Roadmap
{% endblock title %}

{% block content %}

    <div class="grid grid-cols-3 mt-20 mx-20 gap-4">
        <div class="bg-white px-6 py-6 rounded-lg shadow-md bg-white min-h-10rem">
            <p class="subtitle">Fetchers</p>
            <ul class="list-disc list-inside">
                <li>Bing web</li>
                <li>Bing image</li>
{#                <li>Twitter</li>#}
            </ul>
        </div>
        <div class="bg-white px-6 py-6 rounded-lg shadow-md bg-white min-h-10rem">
            <p class="subtitle">Gatherers</p>
            <ul class="list-disc list-inside">
                <li>Default image gatherer</li>
            </ul>
        </div>
        <div class="bg-white px-6 py-6 rounded-lg shadow-md bg-white min-h-10rem">
            <p class="subtitle">Post-Processors</p>
            <ul class="list-disc list-inside">
                <li>Image exif retriever</li>
            </ul>
        </div>
        <div class="bg-white px-6 py-6 rounded-lg shadow-md bg-white min-h-10rem">
            <p class="subtitle">Filters</p>
            <p>No filters developed so far</p>
        </div>
        <div class="bg-white px-6 py-6 rounded-lg shadow-md bg-white min-h-10rem">
            <p class="subtitle">Classifiers</p>
            <p>No classifiers developed so far</p>
        </div>
        <div class="bg-white px-6 py-6 rounded-lg shadow-md bg-white min-h-10rem">
            <p class="subtitle">Senders</p>
            <p>No senders developed so far</p>
        </div>
    </div>

{% endblock content %}