<div id="{{ id }}" name="root-element" aria-hidden="true" class="hidden fixed z-50 inset-0 bg-gray-900 bg-opacity-60 overflow-hidden flex justify-center items-center w-full h-full">
    <div class="relative px-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <div class="flex justify-end p-2">
                <button type="button" onclick="closeModal(this)" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8">
                <h3 class="text-xl font-medium text-gray-900" name="title-text"></h3>
                {% csrf_token %}
                {{ form.as_ul }}
                <div class="flex">
                    <button name="accept-button-text" role="button" class="btn-primary mr-2">Accept</button>
                    <button onclick="closeModal(this)" type="button" name="cancel-button-text" class="btn-cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("{{ id }}").addEventListener("submit", acceptModalForm);
</script>