{% extends "base.html" %}

{% block title %}
    Maestro - Roadmap
{% endblock title %}

{% block content %}

    <div class="page-container lg:min-w-[60%] min-h-40rem">
        <ol class="relative border-l border-gray-200">
            <li class="mb-10 last:mb-0 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400">February 2022</time>
                <h3 class="text-lg font-semibold text-gray-900">Develop organization features</h3>
                <p class="text-base font-normal text-gray-500">Develop features that allow to organize users into organizations.</p>
                <div class="flex space-x-1">
                    <p class="text-base font-bold text-gray-500">Status:</p>
                    <p class="text-base font-bold text-green-500">Finished</p>
                </div>
            </li>
            <li class="mb-10 last:mb-0 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400">March 2022</time>
                <h3 class="text-lg font-semibold text-gray-900">Allow the creation of search contexts</h3>
                <p class="text-base font-normal text-gray-500">Allow CRUD operations on search contexts and define their basic structure.</p>
                <div class="flex space-x-1">
                    <p class="text-base font-bold text-gray-500">Status:</p>
                    <p class="text-base font-bold text-yellow-500">Developing</p>
                </div>
            </li>
            <li class="mb-10 last:mb-0 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400">March 2022</time>
                <h3 class="text-lg font-semibold text-gray-900">Develop the first gather plugins</h3>
                <p class="text-base font-normal text-gray-500">Create a web crawling and an API fetch plugin, the latter based on the Twitter API.</p>
                <div class="flex space-x-1">
                    <p class="text-base font-bold text-gray-500">Status:</p>
                    <p class="text-base font-bold text-red-500">Not started</p>
                </div>
            </li>
            <li class="mb-10 last:mb-0 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400">March 2022</time>
                <h3 class="text-lg font-semibold text-gray-900">Develop the first post-processors</h3>
                <p class="text-base font-normal text-gray-500">Develop a post-processor that fetches the metadata from images.</p>
                <div class="flex space-x-1">
                    <p class="text-base font-bold text-gray-500">Status:</p>
                    <p class="text-base font-bold text-red-500">Not started</p>
                </div>
            </li>
            <li class="mb-10 last:mb-0 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400">March 2022</time>
                <h3 class="text-lg font-semibold text-gray-900">Develop the first filters</h3>
                <p class="text-base font-normal text-gray-500">Develop a filter that filters by date and other that filters by geolocation.</p>
                <div class="flex space-x-1">
                    <p class="text-base font-bold text-gray-500">Status:</p>
                    <p class="text-base font-bold text-red-500">Not started</p>
                </div>
            </li>
            <li class="mb-10 last:mb-0 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400">April 2022</time>
                <h3 class="text-lg font-semibold text-gray-900">Integrate the classification plugin wrapper</h3>
                <p class="text-base font-normal text-gray-500">Use an existing ML model for the classification.</p>
                <div class="flex space-x-1">
                    <p class="text-base font-bold text-gray-500">Status:</p>
                    <p class="text-base font-bold text-red-500">Not started</p>
                </div>
            </li>
            <li class="mb-10 last:mb-0 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white"></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400">April 2022</time>
                <h3 class="text-lg font-semibold text-gray-900">Develop the data providing functionality</h3>
                <p class="text-base font-normal text-gray-500">Allow Maestro to provide the results to other services through webhooks.</p>
                <div class="flex space-x-1">
                    <p class="text-base font-bold text-gray-500">Status:</p>
                    <p class="text-base font-bold text-red-500">Not started</p>
                </div>
            </li>
        </ol>
    </div>

{% endblock content %}
