{% extends 'base.html' %}
{% load my_filters %}

{% block title %}
    Maestro | Organization '{{ organization.code }}'
{% endblock %}

{% block content %}
    <div class="page-container lg:w-1/2 min-h-40rem">
        <div class="xl:w-full">
            <div class="mb-10">
                {% include 'common/breadcrumb.html' with nav_links='Organizations '|addstr:organization.code|addstr:' Detail' %}
            </div>
            <div class="flex flex-row justify-between items-center">
                <div class="mr-6">
                    <p class="title">{{ organization.name }}</p>
                </div>
                <div>
                    {% if request.GET.from %}
                        <a href="{{ request.GET.from }}" class="btn-cancel">Back</a>
                    {% else %}
                        <a href="{% url 'organizations-list' %}" class="btn-cancel">Back</a>
                    {% endif %}
                </div>
            </div>
            <div class="mt-6">
                <ul class="flex flex-wrap border-b border-gray-200">
                    <li class="mr-2">
                        <a href="#" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center text-blue-600 bg-gray-100 rounded-t-lg active">Detail</a>
                    </li>
                    <li class="mr-2">
                        <a href="{% url 'organizations-member-list' organization %}" class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Members</a>
                    </li>
                </ul>
            </div>
            <div class="mt-10">
                <div class="">
                    <p class="text-2xl text-blue-700">Code</p>
                    <p class="text-xl font-light text-gray-600">{{ organization.code }}</p>
                </div>
                <div class="mt-6">
                    <p class="text-2xl text-blue-700">Name</p>
                    <p class="text-xl font-light text-gray-600">{{ organization.name }}</p>
                </div>
                <div class="mt-6">
                    <p class="text-2xl text-blue-700">Created at</p>
                    <p class="text-xl font-light text-gray-600">{{ organization.create_date|date:'F jS, Y' }}</p>
                </div>
                <div class="mt-6">
                    <p class="text-2xl text-blue-700">Members can edit</p>
                    <label for="toggle-example-disabled" class="flex relative items-center mb-4 cursor-not-allowed">
                        <input type="checkbox" id="toggle-example-disabled" class="sr-only" {% if organization.members_can_edit %}checked{% endif %} disabled>
                        <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg"></div>
                    </label>
                </div>
                <div class="mt-6">
                    <p class="text-2xl text-blue-700">Members can create</p>
                    <label for="toggle-example-disabled" class="flex relative items-center mb-4 cursor-not-allowed">
                        <input type="checkbox" id="toggle-example-disabled" class="sr-only" {% if organization.members_can_create %}checked{% endif %} disabled>
                        <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}