{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="page-container lg:w-1/2 lg:h-3/4">
        <p class="title">{{ title }}</p>
        <form method="post" class="w-full mt-8">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="{% if 'Create' in title %}Create organization{% else %}Update settings{% endif %}" role="button" class="btn-primary mt-4"/>
            <a type="button" href="{% url 'organizations-list' %}" class="btn-cancel mt-1">Cancel</a>
        </form>
    </div>
{% endblock content %}