{% extends 'base.html' %}

{% block title %}
    My Organization
{% endblock %}

{% block content %}
    <div class="page-container w-1/2 h-3/4">
        <div class="xl:w-full">
            <div class="flex flex-row justify-between">
                <div>
                    <p class="title">Organizations</p>
                </div>
                <div>
                    <a href="{% url 'organizations-new' %}" type="button" class="btn-primary">Create organization</a>
                </div>
            </div>
            <div class="flex flex-col mt-10">
                    <div class="overflow-hidden shadow-sm sm:rounded-lg">
                        <table class="w-full table-fixed">
                            <tbody>
                            {% for organization in organizations %}
                                <tr class="text-sm font-medium border-b even:bg-white odd:bg-gray-50" name="organization" code="{{ organization.code }}">
                                    <td class="py-4 px-6 xl:w-2/3">
                                        <a href="{% url 'organizations-detail' organization.code %}" class=" text-gray-700 hover:underline">{{ organization.name }}</a>
                                    </td>
                                    <td class="py-4 px-6 text-right">
                                        {% if organization in organizations_user_owner %}
                                            <a href="{% url 'organizations-settings' organization.code %}" class=text-blue-600 hover:underline">Settings</a>
                                        {% endif %}
                                    </td>
                                    <td class="py-4 px-6 text-right">
                                        <a href="#" class="text-blue-600 hover:underline" onclick="
                                        openModal(
                                            'modal-delete',
                                            acceptModalDelete,
                                            {question: 'Are you sure you want to leave organization \'{{ organization.code }}\'?', description: 'If you are the owner of the organization, this will delete the organization and all its contexts.'},
                                            {code: '{{ organization.code }}'})">
                                            Leave
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        {% if page_obj.paginator.num_pages > 1 %}
            <div class="flex w-full justify-center">
                {% include 'common/pagination.html' %}
            </div>
        {% endif %}
    </div>
    {% include 'common/confirmation-modal.html' with id='modal-delete' %}


    <script>
        // The below functions are called by the modal, which is in "organization/delete-confirmation.html"
        function acceptModalDelete(modal) {
            const code = modal.getAttribute("code");
            // Make request
            const url = "{% url 'organizations-leave' %}";
            fetch(`${url}?organization=${code}`).then(_ => location.reload());
        }

    </script>
{% endblock content %}