{% extends 'base.html' %}
{% load my_filters %}

{% block title %}
    Maestro | User '{{ member.user.get_full_name }}' profile
{% endblock %}

{% block content %}
    <div class="page-container xl:w-1/2 min-h-40rem">
        <div class="xl:w-full">
            <div class="mb-10">
                {% with user_full_name=member.user.get_full_name|space_to_underscore %}
                    {% include 'common/breadcrumb.html' with nav_links='Organizations '|addstr:member.organization.code|addstr:' Members '|addstr:user_full_name %}
                {% endwith %}
            </div>
            <div class="flex flex-row justify-between ">
                <div>
                    <img class="rounded-full object-cover" src="{{ member.user.avatar.url }}" alt="logo" />
                    <p class="title mt-4">{{ member.user.get_full_name }}</p>
                    <p class="text-md text-gray-800 font-light mt-1">{{ member.user.email }}</p>
                </div>
                <div>
                    {% if request.GET.from %}
                        <a href="{{ request.GET.from }}" class="btn-cancel">Back</a>
                    {% else %}
                        <a href="{% url 'organizations-member-list' member.organization.code %}" class="btn-cancel">Back</a>
                    {% endif %}
                </div>
            </div>
            <div class="mt-10">
                <div class="border-l-2 pl-2 border-gray-600/60">
                    <p class="text-2xl text-blue-700">Organization</p>
                    <p class="text-xl font-light text-gray-600">{{ member.organization.code }}</p>
                </div>
                <div class="border-l-2 pl-2 border-gray-600/60 mt-6">
                        <p class="text-2xl text-blue-700">Status</p>
                        <p class="text-xl font-light text-gray-600">{% if not member.has_accepted %}Pending invite{% elif member.is_blocked %}Blocked{% else %}Active{% endif %}</p>
                </div>
                {% if not member.has_accepted %}
                    <div class="border-l-2 pl-2 border-gray-600/60 mt-6">
                        <p class="text-2xl text-blue-700">Invite date</p>
                        <p class="text-xl font-light text-gray-600">{{ member.invite_date|date:'F jS, Y' }}</p>
                    </div>
                {% else %}
                    <div class="border-l-2 pl-2 border-gray-600/60 mt-6">
                        <p class="text-2xl text-blue-700">Member since</p>
                        <p class="text-xl font-light text-gray-600">{{ member.join_date|date:'F jS, Y' }}</p>
                    </div>
                    <div class="border-l-2 pl-2 border-gray-600/60 mt-6">
                        <p class="text-2xl text-blue-700">Owner</p>
                        <label for="toggle-example-disabled" class="flex relative items-center mb-4 cursor-not-allowed">
                            <input type="checkbox" id="toggle-example-disabled" class="sr-only" {% if member.is_owner %}checked{% endif %} disabled>
                            <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg"></div>
                        </label>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}