[Unit]
Description=Celery Service
After=network.target

[Service]
User=root
# Celery doesnt work with pickle in superuser permissions without this flag
Environment="C_FORCE_ROOT=true"
Group=www-data
WorkingDirectory={{project_path}}/
ExecStart=celery -A maestro worker -l INFO

[Install]
WantedBy=multi-user.target