[Unit]
Description=Celery Service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/app
ExecStart=celery -A maestro worker -l INFO

[Install]
WantedBy=multi-user.target