[Unit]
Description=Gunicorn instance to serve maestro
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory={{project_path}}/
ExecStart=gunicorn -c deploy/gunicorn/prod.py

[Install]
WantedBy=multi-user.target