server {
    server_name maestro-web.inesc-id.pt;
    # server_name 130.162.176.242;
    listen 80;
    location = /favicon.ico { access_log off; log_not_found off; }

    location /media {
        autoindex on;
        alias {{project_path}}/media/;
    }

    location /static {
        autoindex on;
        alias {{project_path}}/static/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}

server {
    server_name www.maestro-web.inesc-id.pt;
    return 301 $scheme://maestro-web.inesc-id.pt$request_uri;

}