{% extends 'base.html' %}
{% load my_filters %}

{% block title %}
    Maestro | Configure search context
{% endblock %}

{% block content %}
    {% with currentForm=request.GET.form|default:"essential" %}
        <div class="page-container lg:w-1/2 min-h-40rem">
            <p class="title">Configure search context</p>
            <p class="subtitle">Seach context: <span class="font-normal">{{ context.code }}</span></p>
            {% if context.configuration %}
                <div class="mt-6">
                    <ul class="flex flex-wrap border-b border-gray-200">
                        <li class="mr-2">
                            <a href="{% url 'contexts-configuration-update' context.code %}?form=essential&from={{ request.GET.from }}" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center rounded-t-lg {% if currentForm == 'essential' %}text-blue-600 bg-gray-100 active{% else %}text-gray-500 hover:text-gray-600 hover:bg-gray-50{% endif %}">Essential</a>
                        </li>
                        <li class="mr-2">
                            <a href="{% url 'contexts-configuration-update' context.code %}?form=advanced&from={{ request.GET.from }}" class="inline-block py-4 px-4 text-sm font-medium text-center rounded-t-lg {% if currentForm == 'advanced' %}text-blue-600 bg-gray-100 active{% else %}text-gray-500 hover:text-gray-600 hover:bg-gray-50{% endif %}">Advanced</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <form method="post" class="w-full mt-8">
                {% csrf_token %}
                {{ form.as_ul }}
                <div class="flex flex-col gap-3 mt-10">
                    <input type="submit" value="Update search context {% if currentForm == 'advanced' %}advanced {% endif %}configurations" role="button" class="btn-primary"/>
                    {% if request.GET.from %}
                        <a href="{{ request.GET.from }}" class="btn-cancel">Cancel</a>
                    {% else %}
                        <a href="{% url 'contexts-detail' context.code %}" class="btn-cancel">Cancel</a>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endwith %}
{% endblock content %}