{% extends 'context/configuration_detail_base.html' %}
{% load my_filters %}

{% block title %}
    Maestro | Search context '{{ context.code }}' advanced configuration
{% endblock %}

{% block breadcrumb %}
    {% include 'common/breadcrumb.html' with nav_links='Search_contexts '|addstr:context.code|addstr:' Configuration'|addstr:' Advanced' %}
{% endblock breadcrumb %}

{% block tabs %}
    <div class="mt-6">
        <ul class="flex flex-wrap border-b border-gray-200">
            <li class="mr-2">
                <a href="{% url 'contexts-detail' context.code %}" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Information</a>
            </li>
            <li class="mr-2">
                <a href="#" class="inline-block py-4 px-4 text-sm font-medium text-center text-blue-600 bg-gray-100 rounded-t-lg active">Configuration</a>
            </li>
        </ul>
    </div>
    {% if context.configuration %}
        <div>
            <ul class="flex flex-wrap border-gray-200">
                <li class="mr-2">
                    <a href="{% url 'contexts-configuration-detail' context.code %}?page=essential" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-b-lg hover:text-gray-600 hover:bg-gray-50">Essential</a>
                </li>
                <li class="mr-2">
                    <a href="#" class="inline-block py-4 px-4 text-sm font-medium text-center text-blue-600 bg-gray-100 rounded-b-lg active">Advanced</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock tabs %}

{% block detail %}
    <div class="mt-10">
        {% if configuration %}
            {% if configuration.country_of_search %}
                <div class="mt-6">
                    <p class="text-2xl text-blue-700">Country of search</p>
                    <div class="flex flex-col mt-2">
                        <p class="font-light text-gray-600">{{ configuration.get_country_of_search_display }}</p>
                    </div>
                </div>
            {% endif %}
            {% if configuration.seed_urls %}
                <div class="mt-6">
                    <p class="text-2xl text-blue-700">Custom seed URLs</p>
                    <ul class="flex flex-col mt-2 list-disc list-inside">
                        {% for url in configuration.seed_urls %}
                            <li class="font-light text-gray-600">{{ url }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if configuration.fetchers.all %}
                <div class="mt-6">
                    <p class="text-2xl text-blue-700">Fetchers</p>
                    <ul class="flex flex-col mt-2 list-disc list-inside">
                        {% for fetcher in configuration.fetchers.all %}
                            <li class="font-light text-gray-600">{{ fetcher }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if configuration.post_processors.all %}
                <div class="mt-6">
                    <p class="text-2xl text-blue-700">Post-processors</p>
                    <ul class="flex flex-col mt-2 list-disc list-inside">
                        {% for post_processor in configuration.post_processors.all %}
                            <li class="font-light text-gray-600">{{ post_processor }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% else %}
            <p class="mr-10">This context doesn't have any advanced configurations. You can add them by clicking the <span class="text-blue-600">Configure</span> button below.</p>
        {% endif %}
    </div>
{% endblock detail %}