{% extends 'context/configuration_detail_base.html' %}
{% load my_filters %}

{% block title %}
    Maestro | Search context '{{ context.code }}' configuration
{% endblock %}

{% block breadcrumb %}
    {% include 'common/breadcrumb.html' with nav_links='Search_contexts '|addstr:context.code|addstr:' Configuration'|addstr:' Essential' %}
{% endblock breadcrumb %}

{% block tabs %}
    <div class="mt-6">
        <ul class="flex flex-wrap border-b border-gray-200">
            <li class="mr-2">
                <a href="{% url 'contexts-detail' context.code %}" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Information</a>
            </li>
            <li class="mr-2">
                <a href="#" class="inline-block py-4 px-4 text-sm font-medium text-center text-blue-600 bg-gray-100 rounded-t-lg active">Configuration</a>
            </li>
        </ul>
    </div>
    {% if configuration %}
        <div>
            <ul class="flex flex-wrap border-gray-200">
                <li class="mr-2">
                    <a href="#" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center text-blue-600 bg-gray-100 rounded-b-lg active">Essential</a>
                </li>
                <li class="mr-2">
                    <a href="{% url 'contexts-configuration-detail' context.code %}?page=advanced" class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-b-lg hover:text-gray-600 hover:bg-gray-50">Advanced</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock tabs %}

{% block detail %}
    <div class="mt-10">
        {% if configuration %}
            <div>
                <p class="text-2xl text-blue-700">Data type</p>
                <p class="text-xl font-light text-gray-600">{{ configuration.get_data_type_display }}</p>
            </div>
            <div class="mt-6">
                <p class="text-2xl text-blue-700">Search string</p>
                <p class="text-xl font-light text-gray-600">{{ configuration.search_string }}</p>
            </div>
            <div class="mt-6">
                <p class="text-2xl text-blue-700">Keywords</p>
                <div class="flex gap-2 mt-2">
                    {% for keyword in configuration.keywords.all %}
                        <div class="px-2 py-1 bg-indigo-600 rounded text-white font-light">
                            {{ keyword }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-6">
                <p class="text-2xl text-blue-700">Repeat after</p>
                <p class="text-xl font-light text-gray-600">{% if configuration.repeat_amount %} {{ configuration.repeat_amount }} {{ configuration.get_repeat_unit_display }}{% else %}Don't repeat{% endif %}</p>
            </div>
        {% else %}
            <p class="mr-10">This context hasn't been configured yet. Configure it by clicking the <span class="text-blue-600">Configure</span> button below.</p>
        {% endif %}
    </div>
{% endblock detail %}