{% extends 'base.html' %}
{% load my_filters %}

{% block content %}
    <div class="page-container xl:w-3/5 min-h-48rem flex flex-col">
        <div class="xl:w-full">
            <div class="mb-10">
                {% block breadcrumb %}
                {% endblock breadcrumb %}
            </div>
            <div class="flex flex-row justify-between items-center">
                <div class="mr-6">
                    {% block header %}
                        <p class="title">{{ context.name }}</p>
                    {% endblock header %}
                </div>
                <div>
                    {% block back-button %}
                        <a href="{% url 'contexts-list' %}" class="btn-cancel">Back</a>
                    {% endblock back-button %}
                </div>
            </div>
            {% block tabs %}
            {% endblock tabs %}

            {% block detail %}
            {% endblock detail %}
        </div>
        {% block buttons %}
        <div class="mt-auto">
            {% if context.owner_type.name == 'user' or context.owner_type.name == 'organization' and context.owner.members_can_edit %}
                {% if context.configuration %}
                    {% if context.status == 'READY' %}
                        <a href="{% url 'contexts-start' context.code %}" class="btn-success">Start</a>
                    {% else %}
                        {% if context.status == 'WAITING' %}
                            <a href="{% url 'contexts-results' context.code %}" class="btn-secondary">Review data</a>
                        {% elif context.status == 'FINISHED PROVIDING' or context.number_of_iterations > 0 %}
                            <a href="{% url 'contexts-results' context.code %}" class="btn-success">Results</a>
                        {% endif %}
                        <a href="{% url 'contexts-status' context.code %}" class="btn-secondary">Progress</a>
                    {% endif %}
                    {% if canStop %}
                        <a href="{% url 'contexts-stop' context.code %}" class="btn-danger">Stop</a>
                    {% elif context.is_stopped and context.status != 'READY' and context.status != 'NOT CONFIGURED' %}
                        <a href="{% url 'contexts-resume' context.code %}" class="btn-success">Resume</a>
                    {% endif %}
                {% endif %}
                {% if context.is_stopped %}
                    <a href="{% url 'contexts-configuration-update' context.code %}?form={{ request.GET.page|default:'essential' }}&from={{ request.get_full_path }}" class="btn-primary">Configure</a>
                {% endif %}
                <a  href="#"
                    onclick="
                            openModal(
                            'modal-delete',
                            acceptModalDelete,
                            {title: 'Are you sure you want to delete the context {{ context.code }}?', subtitle: 'This action will be effective.'},
                            {code: '{{ context.code }}'}
                            )"
                    class="btn-danger">
                    Delete
                </a>
            {% endif %}
        </div>
        {% endblock buttons %}
    </div>

    {% include 'common/confirmation-modal.html' with id='modal-delete' %}

    {% block scripts %}
        <script>
            function acceptModalDelete(modal) {
                // 'contexts-delete'
                const url = "{% url 'contexts-delete' context.code %}";
                fetch(url).then(response => window.location.replace(response.url));
            }
        </script>
    {% endblock scripts %}
{% endblock content %}