{% extends 'base.html' %}
{% load my_filters %}

{% block title %}
    Maestro | Configure search context
{% endblock %}

{% block content %}
    {% with currentForm=request.GET.form|default:"essential" %}
        <div class="page-container xl:w-1/2 min-h-40rem">
            <p class="title">Configure search context</p>
            <p class="subtitle">Seach context: <span class="font-normal">{{ context.code }}</span></p>
            {% if context.configuration %}
                <div class="mt-6">
                    <ul class="flex flex-wrap border-b border-gray-200">
                        <li class="mr-2">
                            <a href="{% url 'contexts-configuration-update' context.code %}?form=essential&from={{ request.GET.from }}" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center rounded-t-lg {% if currentForm == 'essential' %}text-blue-600 bg-gray-100 active{% else %}text-gray-500 hover:text-gray-600 hover:bg-gray-50{% endif %}">Essential</a>
                        </li>
                        <li class="mr-2">
                            <a href="{% url 'contexts-configuration-update' context.code %}?form=fetch&from={{ request.GET.from }}" class="inline-block py-4 px-4 text-sm font-medium text-center rounded-t-lg {% if currentForm == 'advanced' or currentForm == 'fetch' or currentForm == 'post-process' or currentForm == 'filter' or currentForm == 'classify' or currentForm == 'provide' %}text-blue-600 bg-gray-100 active{% else %}text-gray-500 hover:text-gray-600 hover:bg-gray-50{% endif %}">Advanced</a>
                        </li>
                    </ul>
                    {% if currentForm == 'advanced' or currentForm == 'fetch' or currentForm == 'post-process' or currentForm == 'filter' or currentForm == 'classify' or currentForm == 'provide' %}
                        <ul class="flex flex-wrap border-t border-gray-200">
                            <li class="mr-2">
                                <a href="{% url 'contexts-configuration-update' context.code %}?form=fetch&from={{ request.GET.from }}" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center rounded-b-lg {% if currentForm == 'advanced' or currentForm == 'fetch' %}text-blue-600 bg-gray-100 active{% else %}text-gray-500 hover:text-gray-600 hover:bg-gray-50{% endif %}">Fetch</a>
                            </li>
                            <li class="mr-2">
                                <a href="{% url 'contexts-configuration-update' context.code %}?form=post-process&from={{ request.GET.from }}" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center rounded-b-lg {% if currentForm == 'post-process' %}text-blue-600 bg-gray-100 active{% else %}text-gray-500 hover:text-gray-600 hover:bg-gray-50{% endif %}">Post-Process</a>
                            </li>
                            <li class="mr-2">
                                <a href="{% url 'contexts-configuration-update' context.code %}?form=filter&from={{ request.GET.from }}" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center rounded-b-lg {% if currentForm == 'filter' %}text-blue-600 bg-gray-100 active{% else %}text-gray-500 hover:text-gray-600 hover:bg-gray-50{% endif %}">Filter</a>
                            </li>
                            <li class="mr-2">
                                <a href="{% url 'contexts-configuration-update' context.code %}?form=classify&from={{ request.GET.from }}" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center rounded-b-lg {% if currentForm == 'classify' %}text-blue-600 bg-gray-100 active{% else %}text-gray-500 hover:text-gray-600 hover:bg-gray-50{% endif %}">Classify</a>
                            </li>
                            <li class="mr-2">
                                <a href="{% url 'contexts-configuration-update' context.code %}?form=provide&from={{ request.GET.from }}" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center rounded-b-lg {% if currentForm == 'provide' %}text-blue-600 bg-gray-100 active{% else %}text-gray-500 hover:text-gray-600 hover:bg-gray-50{% endif %}">Provide</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
            <form method="post" class="w-full mt-8">
                {% csrf_token %}
                {{ form.as_ul }}
                <div class="flex flex-col gap-3 mt-10">
                    <div class="flex gap-3">
                        <input type="submit" name="update_continue" value="Update and continue editing" role="button" class="btn-primary"/>
                        <input type="submit" name="update" value="Update" role="button" class="btn-secondary"/>
                    </div>
                    {% if request.GET.from %}
                        <a href="{{ request.GET.from }}" class="btn-cancel">Cancel</a>
                    {% else %}
                        <a href="{% url 'contexts-detail' context.code %}" class="btn-cancel">Cancel</a>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endwith %}

    <script>
        const now = new Date();
        const max = now.toISOString().slice(0, 16);
        console.log(max)
        const date_inputs = document.querySelectorAll("input[type=datetime-local]");
        for(let i = 0; i < date_inputs.length; i++) {
            date_inputs[i].setAttribute("max", max);
        }
    </script>
{% endblock content %}