{% extends 'base.html' %}
{% load my_filters %}

{% block title %}
Maestro | Create search context
{% endblock %}

{% block content %}
    <div class="page-container lg:w-1/2 min-h-40rem">
        <p class="title">Create search context</p>
        <form method="post" class="w-full mt-8">
            {% csrf_token %}
            {{ form.as_ul }}
            <div class="flex flex-col gap-3 mt-10">
                <div class="flex gap-2">
                    <input type="submit" name="create_configure" value="Create and configure search context" role="button" class="btn-primary"/>
                    <input type="submit" name="create" value="Create search context" role="button" class="btn-secondary"/>
                </div>
                <a href="{% url 'contexts-list' %}" class="btn-cancel">Cancel</a>
            </div>
        </form>
    </div>

    <script>
        const code = document.getElementById("id_code");
        const name = document.getElementById("id_name");

        function get_code(value) {
            return value.trim().toLowerCase().replace(/\s{2,}/g,' ').replace(/[^0-9a-z\- ]/gi, '').replaceAll(" ", "-");
        }

        if (name.value !== "") {
            code.value = get_code(name.value);
        }

        name.addEventListener("keyup", (ev) => {
            code.value = get_code(ev.target.value);
        });
    </script>
{% endblock content %}