{% extends 'base.html' %}
{% load my_filters %}

{% block title %}
    Search context '{{ context.code }}'
{% endblock %}

{% block content %}
    <div class="page-container lg:w-1/2 min-h-40rem">
        <div class="xl:w-full">
            <div class="mb-10">
                {% include 'common/breadcrumb.html' with nav_links='Search_contexts '|addstr:context.code|addstr:' Detail' %}
            </div>
            <div class="flex flex-row justify-between items-center">
                <div class="mr-6">
                    <p class="title">{{ context.name }}</p>
                </div>
                <div>
                    <a href="{% url 'contexts-list' %}" class="btn-cancel">Back</a>
                </div>
            </div>
            <div class="mt-6">
                <ul class="flex flex-wrap border-b border-gray-200">
                    <li class="mr-2">
                        <a href="#" aria-current="page" class="inline-block py-4 px-4 text-sm font-medium text-center text-blue-600 bg-gray-100 rounded-t-lg active">Basic information</a>
                    </li>
                    <li class="mr-2">
                        <a href="{% url 'contexts-configuration-detail' context.code %}" class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Configuration</a>
                    </li>
                </ul>
            </div>
            <div class="mt-10">
                <div class="">
                    <p class="text-2xl text-blue-700">Code</p>
                    <p class="text-xl font-light text-gray-600">{{ context.code }}</p>
                </div>
                <div class="mt-6">
                    <p class="text-2xl text-blue-700">Name</p>
                    <p class="text-xl font-light text-gray-600">{{ context.name }}</p>
                </div>
                <div class="mt-6">
                    <p class="text-2xl text-blue-700">Owner</p>
                    {% if context.owner_type.name == 'organization' %}
                        <a href="{% url 'organizations-detail' context.owner.code %}?from={{ request.path }}" class="text-xl font-normal text-gray-600 underline decoration-blue-700 decoration-dashed hover:decoration-solid decoration-2 underline-offset-1">
                            {{ context.owner.name }}
                        </a>
                    {% else %}
                        <p class="text-xl font-light text-gray-600">(Me) {{ context.owner.get_full_name }}</p>
                    {% endif %}
                </div>
                <div class="mt-6">
                    <p class="text-2xl text-blue-700">Created at</p>
                    <p class="text-xl font-light text-gray-600">{{ context.create_date|date:'F jS, Y' }}</p>
                </div>
                {% if context.owner_type.name == 'organization' %}
                    <div class="mt-6">
                        <p class="text-2xl text-blue-700">Created by</p>
                        <a href="{% url 'organizations-member-profile' context.owner.code context.creator|urlencode %}?from={{ request.path }}" class="text-xl font-normal text-gray-600 underline decoration-blue-700 decoration-dashed hover:decoration-solid decoration-2 underline-offset-1">{{ context.creator.get_full_name }}</a>
                    </div>
                {% endif %}
            </div>
            <div class="mt-10">
                {% if context.owner_type.name == 'organization' %}
                    {% if context.owner.members_can_edit %}
                        <a href="{% url 'contexts-configuration-update' context.code %}?from={{ request.path }}" class="btn-primary">Configure</a>
                        <a  href="#"
                            onclick="
                                    openModal(
                                    'modal-delete',
                                    acceptModalDelete,
                                    {title: 'Are you sure you want to delete the context {{ context.code }}?', subtitle: 'This action will be effective.'},
                                    {code: '{{ context.code }}'}
                                    )"
                            class="btn-danger">
                            Delete
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'contexts-configuration-update' context.code %}?from={{ request.path }}" class="btn-primary">Configure</a>
                    <a  href="#"
                        onclick="
                                openModal(
                                'modal-delete',
                                acceptModalDelete,
                                {title: 'Are you sure you want to delete the context {{ context.code }}?', subtitle: 'This action will be effective.'},
                                {code: '{{ context.code }}'}
                                )"
                        class="btn-danger">
                        Delete
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'common/confirmation-modal.html' with id='modal-delete' %}

    <script>
        function acceptModalDelete(modal) {
            // 'contexts-delete'
            const url = "{% url 'contexts-delete' context.code %}";
            fetch(url).then(response => window.location.replace(response.url));
        }
    </script>
{% endblock content %}