{% extends "base.html" %}
{% load static %}

{% block title %}
    Maestro | Results of '{{ context.code }}', data object {{ object }}
{% endblock %}

{% block content %}
    {% get_static_prefix as static_prefix %}
    <div class="page-container xl:w-3/4 min-h-45rem flex flex-col">
        <div class="xl:w-full">
            <div class="flex flex-row justify-between items-center mb-10">
                <div>
                    <p class="title">Object detail</p>
                    <p class="subtitle">Seach context: <span class="font-normal">{{ context.code }}</span></p>
                </div>
                <div class="flex gap-x-2">
                    <a href="{% url 'contexts-results' context.code %}" class="btn-cancel">Back</a>
                </div>
            </div>
            {# Details#}
            <div class="flex flex-col lg:flex-row gap-10 lg:gap-44">
                <div>
                    <div>
                        <p class="text-2xl text-blue-700">Object ID</p>
                        <p class="text-xl font-light text-gray-600">{{ obj.identifier }}</p>
                    </div>
                    <div class="mt-6">
                        <p class="text-2xl text-blue-700">Added at</p>
                        <p class="text-xl font-light text-gray-600">{{ obj.add_date|date:'F jS, Y, G:i' }}</p>
                    </div>
                    <div class="mt-6">
                        <p class="text-2xl text-blue-700">Metadata</p>
                        {% for key, value in obj.metadata.items %}
                            <p class="text-xl font-light text-gray-600"><span class="text-blue-600">{{ key }}: </span>{{ value }}</p>
                        {% empty %}
                            <p class="text-xl font-light text-gray-600">No metadata extracted</p>
                        {% endfor %}
                    </div>
                    <div class="mt-6">
                        <p class="text-2xl text-blue-700">Was filtered</p>
                        <p class="text-xl font-light text-gray-600">{{ obj.filtered|yesno:"Yes,No" }}</p>
                    </div>
                    <div class="mt-6">
                        <p class="text-2xl text-blue-700">Classification results</p>
                        {% for key, value in obj.classification_result.items %}
                            <p class="text-xl font-light text-gray-600"><span class="text-blue-600">{{ key }}: </span>{{ value|default:'No classification' }}</p>
                        {% empty %}
                            <p class="text-xl font-light text-gray-600">No classification results</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="max-w-lg self-center">
                    <audio controls src="http://{{ obj.thumb_url }}">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>

        {% if page_obj.paginator.num_pages > 1 %}
            <div class="flex w-full justify-center mt-10">
                {% include 'common/pagination.html' %}
            </div>
        {% endif %}
    </div>

{% endblock %}