{% extends 'context/configuration_detail_base.html' %}
{% load my_filters %}

{% block title %}
    Maestro | Search context '{{ context.code }}' execution status
{% endblock %}

{% block breadcrumb %}
    {% include 'common/breadcrumb.html' with nav_links='Search_contexts '|addstr:context.code|addstr:' Status' %}
{% endblock breadcrumb %}

{% block header %}
    <p class="title">{{ context.name }}</p>
    <p class="subtitle">Current iteration: <span class="font-normal">{{ context.number_of_iterations }}</span></p>
    <p class="subtitle">Status: <span class="font-normal">{{ context.get_status_display }}</span></p>
{% endblock header %}

{% block back-button %}
    <a href="{% url 'contexts-detail' context.code %}" class="btn-cancel">Back</a>
{% endblock back-button %}

{% block detail %}
    <div class="mt-28">
        <ul class="steps w-full" id="progress-bar">
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Fetch URLs</p>
                    <a href="{% url 'task-status' context.code 'fetch' %}" class="text-blue-700 hover:underline">Details</a>
                    {% if context.owner_type.name == 'user' or context.owner_type.name == 'organization' and context.owner.members_can_edit %}
                        <button
                            onclick="
                            openModal(
                            'modal-rerun',
                            acceptModalRerun,
                            {title: 'Are you sure you want to re-run {{ context.code }} from the fetch stage?', subtitle: 'All the subsequent stages will also be re-runned.'},
                            {code: '{{ context.code }}', stage: 'fetch'}
                            )" class="text-blue-700 hover:underline invisible">Re-run</button>
                    {% endif %}
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Gather data</p>
                    <a href="{% url 'task-status' context.code 'gather' %}" class="text-blue-700 hover:underline invisible">Details</a>
                    {% if context.owner_type.name == 'user' or context.owner_type.name == 'organization' and context.owner.members_can_edit %}
                        <button
                            onclick="
                            openModal(
                            'modal-rerun',
                            acceptModalRerun,
                            {title: 'Are you sure you want to re-run {{ context.code }} from the gather stage?', subtitle: 'All the subsequent stages will also be re-runned.'},
                            {code: '{{ context.code }}', stage: 'gather'}
                            )" class="text-blue-700 hover:underline invisible">Re-run</button>
                    {% endif %}
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Review data</p>
                    <a href="{% url 'contexts-results' context.code %}" class="text-blue-700 hover:underline invisible">Details</a>
                    <button
                        onclick="
                        openModal(
                        'modal-rerun',
                        acceptModalRerun,
                        {title: 'Are you sure you want to re-run {{ context.code }} from the review stage?', subtitle: 'All the subsequent stages will also be re-runned.'},
                        {code: '{{ context.code }}', stage: 'review'}
                        )" class="text-blue-700 hover:underline invisible">Re-run</button>
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Post-process</p>
                    <a href="{% url 'task-status' context.code 'post_process' %}" class="text-blue-700 hover:underline invisible">Details</a>
                    {% if context.owner_type.name == 'user' or context.owner_type.name == 'organization' and context.owner.members_can_edit %}
                        <button
                        onclick="
                        openModal(
                        'modal-rerun',
                        acceptModalRerun,
                        {title: 'Are you sure you want to re-run {{ context.code }} from the post-process stage?', subtitle: 'All the subsequent stages will also be re-runned.'},
                        {code: '{{ context.code }}', stage: 'post-process'}
                        )" class="text-blue-700 hover:underline invisible">Re-run</button>
                    {% endif %}
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Filter</p>
                    <a href="{% url 'task-status' context.code 'filter' %}" class="text-blue-700 hover:underline invisible">Details</a>
                    {% if context.owner_type.name == 'user' or context.owner_type.name == 'organization' and context.owner.members_can_edit %}
                        <button
                        onclick="
                        openModal(
                        'modal-rerun',
                        acceptModalRerun,
                        {title: 'Are you sure you want to re-run {{ context.code }} from the filter stage?', subtitle: 'All the subsequent stages will also be re-runned.'},
                        {code: '{{ context.code }}', stage: 'filter'}
                        )" class="text-blue-700 hover:underline invisible">Re-run</button>
                    {% endif %}
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Classify</p>
                    <a href="{% url 'task-status' context.code 'classify' %}" class="text-blue-700 hover:underline invisible">Details</a>
                    {% if context.owner_type.name == 'user' or context.owner_type.name == 'organization' and context.owner.members_can_edit %}
                        <button
                        onclick="
                        openModal(
                        'modal-rerun',
                        acceptModalRerun,
                        {title: 'Are you sure you want to re-run {{ context.code }} from the classify stage?', subtitle: 'All the subsequent stages will also be re-runned.'},
                        {code: '{{ context.code }}', stage: 'classify'}
                        )" class="text-blue-700 hover:underline invisible">Re-run</button>
                    {% endif %}
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Provide</p>
                    <a href="{% url 'task-status' context.code 'provide' %}" class="text-blue-700 hover:underline invisible">Details</a>
                    {% if context.owner_type.name == 'user' or context.owner_type.name == 'organization' and context.owner.members_can_edit %}
                        <button
                        onclick="
                        openModal(
                        'modal-rerun',
                        acceptModalRerun,
                        {title: 'Are you sure you want to re-run {{ context.code }} from the provide stage?', subtitle: 'All the subsequent stages will also be re-runned.'},
                        {code: '{{ context.code }}', stage: 'provide'}
                        )" class="text-blue-700 hover:underline invisible">Re-run</button>
                    {% endif %}
                </div>
            </li>
        </ul>
        {# Only display if in waiting stage #}
        <div class="mt-10 text-center bg-gray-200 rounded-lg p-6 hidden" id="review-block">
            <p class="text-yellow-400 font-bold text-lg">Attention necessary</p>
            <p class="mt-6">Please click <a class="underline underline-offset-1 hover:text-yellow-700" href="{% url 'contexts-results' context.code %}">here</a> to review the data in order to continue the process.</p>
        </div>
    </div>
{% include 'common/confirmation-modal.html' with id='modal-rerun' %}
{% endblock detail %}

{% block buttons %}
{% endblock buttons %}


{% block scripts %}
    <script>
        function acceptModalRerun(modal) {
            // 'contexts-rerun'
            const stage = modal.getAttribute("stage");
            const url = `{% url 'contexts-rerun' context.code %}?stage=${stage}`;
            fetch(url).then(response => window.location.reload());
        }

        const states = document.getElementById('progress-bar').getElementsByTagName('li');
        const reviewBlock = document.getElementById('review-block');

        function removeClassIfExits(el, cls) {
            if(el === undefined) return
            if(el.classList.contains(cls)) el.classList.remove(cls);
        }

        function addClassIfNotExists(el, cls) {
            if(el === undefined) return
            if(!el.classList.contains(cls)) el.classList.add(cls);
        }

        function updateStatus(status) {
            var failed = false;
            var finished = false;
            var size = 1;

            if(status.includes('FAILED')) failed = true;
            if(status.includes('FINISHED')) finished = true;

            if(status.includes('FETCHING')) size = 1;
            else if(status.includes('GATHERING')) size = 2;
            else if(status === 'WAITING') size = 3;
            else if(status.includes('POST PROCESSING')) size = 4;
            else if(status.includes('FILTERING')) size = 5;
            else if(status.includes('CLASSIFYING')) size = 6;
            else if(status.includes('PROVIDING')) size = 7;
            else size = 8;

            for (let i = 0; i < size; i++) {
                if(size === 3) {
                    removeClassIfExits(reviewBlock, 'hidden');
                } else {
                    addClassIfNotExists(reviewBlock, 'hidden');
                }

                if(i === size - 1) {
                    removeClassIfExits(states[i].firstElementChild.children[1], 'invisible'); // <a>Details</a>
                    removeClassIfExits(states[i].firstElementChild.children[2], 'invisible'); // <a>Re-run</a>
                    if(finished) {
                        states[i].setAttribute('data-content', '✓');
                        addClassIfNotExists(states[i], 'step-success');
                    }
                    else if(failed) {
                        states[i].setAttribute('data-content', '✕');
                        addClassIfNotExists(states[i], 'step-error');
                    }
                    else {
                        states[i].setAttribute('data-content', '●');
                        addClassIfNotExists(states[i], 'step-warning');

                    }
                } else {
                    states[i].setAttribute('data-content', '✓');
                    removeClassIfExits(states[i], 'step-warning');
                    removeClassIfExits(states[i], 'step-error');
                    addClassIfNotExists(states[i], 'step-success');
                    removeClassIfExits(states[i].firstElementChild.children[1], 'invisible'); // <a>Details</a>
                    removeClassIfExits(states[i].firstElementChild.children[2], 'invisible'); // <a>Re-run</a>
                }
            }
        }

        // For the update
        setInterval(() => {
            fetch(`${window.location.href}?status=`).then(response => response.json().then((json) => updateStatus(json.status)));
        }, 2000);
        // For the initial load
        window.addEventListener('DOMContentLoaded', () => fetch(`${window.location.href}?status=`).then(response => response.json().then((json) => updateStatus(json.status))));
    </script>
{% endblock scripts %}