{% extends 'context/configuration_detail_base.html' %}
{% load my_filters %}

{% block title %}
    Maestro | Search context '{{ context.code }}' execution status
{% endblock %}

{% block breadcrumb %}
    {% include 'common/breadcrumb.html' with nav_links='Search_contexts '|addstr:context.code|addstr:' Status' %}
{% endblock breadcrumb %}

{% block back-button %}
    <a href="{% url 'contexts-detail' context.code %}" class="btn-cancel">Back</a>
{% endblock back-button %}

{% block detail %}
    <div class="mt-28">
        <ul class="steps w-full" id="progress-bar">
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Fetch URLs</p>
                    <a href="{% url 'task-status' context.code 'fetch' %}" class="text-blue-700 hover:underline">Details</a>
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Gather data</p>
                    <a href="{% url 'task-status' context.code 'gather' %}" class="text-blue-700 hover:underline invisible">Details</a>
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Review data</p>
                    <a href="#" class="text-blue-700 hover:underline invisible">Details</a>
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Post-process</p>
                    <a href="{% url 'task-status' context.code 'post_process' %}" class="text-blue-700 hover:underline invisible">Details</a>
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Filter</p>
                    <a href="{% url 'task-status' context.code 'filter' %}" class="text-blue-700 hover:underline invisible">Details</a>
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Classify</p>
                    <a href="{% url 'task-status' context.code 'classify' %}" class="text-blue-700 hover:underline invisible">Details</a>
                </div>
            </li>
            <li data-content="" class="step">
                <div class="mt-2 flex flex-col">
                    <p>Provide</p>
                    <a href="{% url 'task-status' context.code 'provide' %}" class="text-blue-700 hover:underline invisible">Details</a>
                </div>
            </li>
        </ul>
        {# Only display if in waiting stage #}
        <div class="mt-10 text-center bg-gray-200 rounded-lg p-6 hidden" id="review-block">
            <p class="text-yellow-400 font-bold text-lg">Attention necessary</p>
            <p class="mt-6">Please click <a class="underline underline-offset-1 hover:text-yellow-700" href="{% url 'contexts-review' context.code %}">here</a> to review the data in order to continue the process.</p>
        </div>
    </div>
{% endblock detail %}

{% block buttons %}
{% endblock buttons %}

{% block scripts %}
    <script>
        const states = document.getElementById('progress-bar').getElementsByTagName('li');
        const reviewBlock = document.getElementById('review-block');

        function removeClassIfExits(el, cls) {
            if(el.classList.contains(cls)) el.classList.remove(cls);
        }

        function addClassIfNotExists(el, cls) {
            if(!el.classList.contains(cls)) el.classList.add(cls);
        }

        function updateStatus(status) {
            var failed = false;
            var finished = false;
            var size = 1;

            if(status.includes('FAILED')) failed = true;
            if(status.includes('FINISHED')) finished = true;

            if(status.includes('FETCHING')) size = 1;
            else if(status.includes('GATHERING')) size = 2;
            else if(status.includes('WAITING')) size = 3;
            else if(status.includes('POST PROCESSING')) size = 4;
            else if(status.includes('FILTERING')) size = 5;
            else if(status.includes('CLASSIFYING')) size = 6;

            for (let i = 0; i < size; i++) {
                if(size === 3) {
                    removeClassIfExits(reviewBlock, 'hidden');
                } else {
                    addClassIfNotExists(reviewBlock, 'hidden');
                }
                if(i === size - 1) {
                    if(finished) {
                        states[i].setAttribute('data-content', '✓');
                        states[i].classList.add('step-success');
                        removeClassIfExits(states[i].firstElementChild.lastElementChild, 'invisible');
                    }
                    else if(failed) {
                        states[i].setAttribute('data-content', '✕');
                        states[i].classList.add('step-error');
                    }
                    else {
                        states[i].setAttribute('data-content', '●');
                        states[i].classList.add('step-warning');
                        removeClassIfExits(states[i].firstElementChild.lastElementChild, 'invisible');
                    }
                } else {
                    states[i].setAttribute('data-content', '✓');
                    states[i].classList.add('step-success');
                    removeClassIfExits(states[i].firstElementChild.lastElementChild, 'invisible');
                }
            }
        }

        // For the update
        setInterval(() => {
            fetch(`${window.location.href}?status=`).then(response => response.json().then((json) => updateStatus(json.status)));
        }, 2000);
        // For the initial load
        fetch(`${window.location.href}?status=`).then(response => response.json().then((json) => updateStatus(json.status)));
    </script>
{% endblock scripts %}
