{% extends "base.html" %}

{% block title %}
Maestro - Activation Success
{% endblock title %}

{% block content %}

<div class="h-screen bg-gradient-to-tl from-green-400 to-indigo-900 w-full py-16 px-4">
    <div class="flex flex-col items-center justify-center">
        <div class="bg-white shadow rounded lg:w-1/3  md:w-1/2 w-full p-10 mt-16">
            <p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800">Activation Success</p>
            <div class="w-full flex items-center justify-between py-5">
                <hr class="w-full bg-gray-400">
            </div>
            <p class="text-md font-medium leading-none text-gray-600">
                You have activated your account. Shortly, you will be redirected to the home page. If that doens't happen, <a href="{% url 'home' %}" class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-md font-medium leading-none text-gray-400 cursor-pointer">Click here</a>.
            </p>
        </div>
    </div>
</div>

<script>
    setTimeout(() => window.location.href = '{% url 'home' %}', 5000);
</script>

{% endblock %}