{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

    <div class="page-container w-2/3">
        <div class="mx-0 border-b border-gray-300 pb-6">
            <p class="title">Profile</p>
        </div>
        <form method="post" enctype="multipart/form-data" class="mt-6">
            {% csrf_token %}
            <div class="grid lg:grid-cols-2 lg:divide-x-2 lg:gap-x-4">
                <div class="lg:col-span-1 lg:mr-6">
                    <h2 class="subtitle mb-10">Basic information</h2>
                    {% for field in form %}
                        {% if 'password' not in field.label %}
                            <div class="flex flex-col mb-6">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <p class="error">
                                        {{ field.errors.as_text|cut:"* " }}
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="lg:col-span-1 lg:pl-10">
                    <h2 class="subtitle mb-10">Change password</h2>
                    {% for field in form %}
                        {% if 'password' in field.label %}
                            <div class="flex flex-col mb-6">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <p class="error">
                                        {{ field.errors.as_text|cut:"* " }}
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div>
                        <ul class="ml-5 mt-6 text-sm text-gray-600 list-disc list-outside">
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex mt-8">
                    <input type="submit" value="Save" role="button" class="btn-primary"/>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}